/* RESET DEL CUERPO DE PAGINA */
body {            
    margin: 0;                
    padding: 0;               
    font-family: Raleway; 
    background-color: black;
    color: white;
}

header{
    height: 73px;
    width: 100%;
    text-align: center;
    background-color: black;
    margin: 0;
}

#title-bn{
    font-family: Raleway;
    color: white;
    padding: 10px;
}

h2{
    font-family: Raleway;
    color: white;
}

.container-fluid{
    background-color: black;
    color: white;    
    height: auto;
    margin: 0;
}


#iguana-1{
    width: 399px;
    height: 237px; 
}

.text-charact{
    font-family: Raleway;
    font-size: 24px;
    padding-top: 10px;
}

footer{
    text-align: center;
}

/* Smartphone (hasta 767px) Segun yo */
@media only screen and (max-width: 600px){
    #piepagina{
        font-size: 2vw;
    }
    #iguana-1{
        width: fit-content;
        height: auto;
    }
    #title-bn{
        font-size: 7vw;
        padding: 5px;
    }
    #title-char{
        font-size: 7vw;
    }
    .text-charact{
        font-size: 7vw;
    }
}